<ion-header>
  <ion-toolbar color = "tertiary">
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-menu-button menu="side-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-buttons>
      <ion-button color="success" [routerLink]="['/login']" routerLinkActive="router-link-active" >
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  <ion-card>
    <img src="../../../assets/img/Mati.jpeg">
    <ion-card-content>
      <ion-card-title>
        Matias Allendes
      </ion-card-title>
      <p>
        El mejor programador del mundo
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/IMG-4404.jpg">
    <ion-card-content>
      <ion-card-title>
        Benjamin Guzman
      </ion-card-title>
      <p>
        El mejor programador del mundo
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/WhatsApp Image 2022-10-02 at 6.30.09 PM.jpeg">
    <ion-card-content>
      <ion-card-title>
        Sebastian Solar
      </ion-card-title>
      <p>
        El mejor programador del mundo
      </p>
    </ion-card-content>
  </ion-card>






  


</ion-content>
